<p>
  <strong>Titulo:</strong>
  <%= @article.title %>
</p>
<% unless @article.user.nil? %>
	<p>
  <strong>Escrito por:</strong>
  <%= @article.user.email %>
</p>
<% end %>

<div>
  <strong>Texto:</strong>
  <%= @article.text %>
</div>

<p>Comentarios</p>
<%= render @article.comments %>

<p>Añade un comentario:</p>
<%= render "comments/form" %>

<%= link_to 'Volver', articles_path %>
<%= link_to 'Editar', edit_article_path(@article) %>