<!DOCTYPE html>
<html>
  <head>
    <title>Ubriempleo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  	<nav>
  		<ul>
  			<li><%= link_to 'Ofertas', posts_path %></li>
  			<li><%= link_to 'Nueva oferta', new_post_path %></li>
        <% if user_signed_in? %>
        <li>
          <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
        </li>
        <%else%>
        <li >
          <%= link_to "Iniciar sesión", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Registrarse", new_user_registration_path %>
        </li>
        <% end -%>
  		</ul>
  	</nav>
  </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
